<h1 class='ms-4 my-3 border-bottom border-primary'><%= 'Stupid coach' %></h1>

<div class='container bg-<%=@success%> text-white p-3 my-4'>
  <h2><%= @answer %></h2>
</div>


<%= link_to 'Ask a new question', ask_path %>